
<h1 class="hello text-center">User Events Created</h1>

<div class="booyah-box col-xs-10">


<% current_user.events.each do |event| %>
	
	<h1><%= event.name %></h1>
	<h2><%= event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
	<h2><%= event.ends_at %>
	<p><%= event.hero_image_url %>
	<p><%= event.category.name %>
	<p><%= event.venue.name %>	
	<p><%= event.venue.full_address %>
	<p><%= event.extended_html_description.html_safe %>
	<p><%= event.publish %>

<% end %>
             
</div>