<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
        <%= @event.venue.name %>
        <br/>
        <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details">
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 center">
      <%= simple_form_for @ticket, :url => event_tickets_path, method: :post do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :price, as: :integer %>
          <%= f.input :max_quantity, as: :integer %>
          <%= f.button :submit, class: "btn btn-primary", label: "Create" %>
      <% end %>
    </div>
  </div>
</div>